// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.mechanic-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .content {
        h2 {
            display: flex;
            color: crimson;
            margin: 0;
        }
    }
    .buttons {
        display: flex;
        align-items: center;
        button, a, form {
            margin: 5px 10px;
            height: 38px;
            display: block;
        }
        form {
            display: flex;
            align-items: center;
            margin: 0;
        }
    }
}

.trucks-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .content {
        display: flex;
        align-items: center;
        h1 {
            display: flex;
            color: skyblue;
            margin: 0;
            font-size: 22px;
            display: flex;
            align-items: center;
            span {
                font-size: 12px;
                color: gray;
                margin-right: 10px;
            }
        }
        h4 {
            display: flex;
            color: orangered;
            margin: 0;
            font-size: 22px;
            display: flex;
            align-items: center;
            margin: 0 0 0 15px;
            span {
                font-size: 12px;
                color: gray;
                margin-right: 10px;
            }
        }
        h5 {
            display: flex;
            color: olive;
            margin: 0;
            font-size: 22px;
            display: flex;
            align-items: center;
            margin: 0 0 0 15px;
            span {
                font-size: 12px;
                color: gray;
                margin-right: 10px;
            }
            a {
                text-decoration: none;
                color: olive;
                transition: all 0.3s;
                &:hover {
                    color:olivedrab;
                }
            }
        }
    }
    .buttons {
        display: flex;
        align-items: center;
        button, a, form {
            margin: 5px 10px;
            height: 38px;
            display: block;
        }
        form {
            display: flex;
            align-items: center;
            margin: 0;
        }
    }
}