// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import 'bootstrap/scss/bootstrap';
.mechanics-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .content {
        display: flex;
        h2 {
            color: crimson;
            margin: 0 5px;
        }
    }
    .buttons {
        display: flex;
        align-items: center;
        button,
        form,
        a {
            margin: 5px 10px;
            display: block;
        }
        form {
            display: flex;
            align-items: center;
            margin: 0;
        }
        button {
            transform: rotate(1deg);
        }
    }
}

.trucks-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .content {
        display: flex;
        align-items: center;
        h2 {
            color: skyblue;
            margin: 0 5px;
            font-size: 22px;
            display: flex;
            align-items: center;
            span {
                font-size: 12px;
                color: gray;
                font-style: italic;
                margin-right: 10px;
            }
        }
        h4 {
            color: orangered;
            margin: 0 5px;
            font-size: 22px;
            display: flex;
            align-items: center;
            margin: 0 0 0 15px;
            span {
                font-size: 12px;
                color: gray;
                font-style: italic;
                margin-right: 10px;
            }
        }
        h5 {
            color: olivedrab;
            margin: 0 5px;
            font-size: 22px;
            display: flex;
            align-items: center;
            margin: 0 0 0 15px;
            span {
                font-size: 12px;
                color: gray;
                font-style: italic;
                margin-right: 10px;
            }
            a {
                text-decoration: none;
                color: olivedrab;
                transition: all 0.3s;
                &:hover {
                    color: cadetblue
                }
            }
        }
    }
    .buttons {
        display: flex;
        align-items: center;
        button,
        form,
        a {
            margin: 5px 10px;
            display: block;
        }
        form {
            display: flex;
            align-items: center;
            margin: 0;
        }
        button {
            transform: rotate(1deg);
        }
    }
}

.mechanic {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    h5 {
        margin: 10px;
        font-size: 40px;
        color: crimson;
    }
}

.truck-show {
    .line {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin: 0 0 10px 0;
        h5 {
            margin: 0 0 0 5px;
        }
    }
    p {
        font-family: 'Courier New', Courier, monospace;
        color: gray;
    }
}

.img {
    img {
        width: auto;
        height: 300px;
    }
}

.img-small {
    img {
        width: auto;
        height: 100px;
    }
}

textarea.form-control {
    min-height: 200px;
}